# Rename this file to main.env

DISCORD_TOKEN = 'secret-token-here' # Secret token of your bot, available here: https://discord.com/developers/applications in the bot section after clicking on your application
OPENAI_TOKEN = 'secret-token-here' # Secret token for openai, get it here if you want to use the askAi command: https://platform.openai.com/account/api-keys
MONGO_DB_URI = 'link-to-mongo-db' # Uri of your mongoDB Database: mongodb+srv://<username>:<password>@<your-cluster-url>/test?retryWrites=true&w=majority or the link of your selfhosted mongodb

CLIENT_ID = 'bot-id-here' # Bot ID
DEV_GUILD_ID = 'dev-guild-id-here' # ID of the dev guild for registering commands
ALERT_WEBHOOK_URL = 'webhook-url-here'
ENVIRONMENT = 'development'